    
        <div class="text-center">
            <h1 class="title">〜イメージ伝達ステップ〜</h1>
        </div>
    
        
    <div id="main_visual">
        <%= image_tag 'kaeru.png', :width => '800', :height => '300' %>
    </div>

    <div id="main">
        <section>
            <h2>みなさまへ</h2>
        </section>

        <div class="greeting">
        <p> 
            ケアマネジャー(ケアマネ)を大事に。<br>
            ケアマネージャー(ケアマネ)とはご利用者様の心身の充実、そのご家族や支援者の介護負担の軽減を考えケアマネジメントを行います。私達は介護保険制度のみならず、医療・福祉制度の理解、役所や包括支援センター、病院、警察など様々な機関との連携をスムーズに行うため各種担当者様と勉強や情報の交換を常時行っております。
            またケアプラン1stステップでは、介護支援専門員協会への加入や事業所での丁寧な教育、情報共有や相談、スーパービジョンの活用、各種研修への参加、他事業所のスタッフとの交流を積極的に行い、知識・精神的にスタッフをフォローし、１人で抱え込ませない事業所を目指します。

            私達ケアプラン1stステップは目標への第一歩を踏み出しました。
            ご利用様、関係者の方々の心により添い「この人が担当で良かった、顔をみたら安心する、相談はないけどお喋りしたい！」と思っていただける事業所を目指し日々精進していきます。

            ご不明点、お困り事等ございましたらどうぞお気軽にお声がけください。よろしくお願い致します。<br><br>

            イメージ伝達ステップ<br>
            Tel:000-111-2222<br>
            Mail:aaa@bbb.com<br>
	
</p>
        <div>
    </div>
    <div class="staff">
        <div class="yonezu">
            <figure>
                <%= image_tag 'inukiti1.jpg', :width => '300', :height => '300' %>
                <figcaption>ともみ</figcaption>
            </figure>
            <div class="yonezu_introduction">
                <p>
                沖縄県那覇市生まれの豊見城市育ちのO型。<br>
                YouTube鑑賞とブルーシールアイスが好きです。<br>
                コロナが落ち着いたら旅行にいきたいな〜。
            </p>
            </div>
        </div>

        <div class="higa">
            <figure>
                <%= image_tag 'inukiti2.jpg', :width => '300', :height => '300' %>
                <figcaption>やすし</figcaption>
            </figure>
        
            <p>
            1978年沖縄県豊見城市生まれです。<br>
            インディアカやフットサル、筋トレ、漫画喫茶でひたすらマンガを読んだりすることがすきです。<br>
            座右の銘: 初心忘るべからず。
            </p>
        </div>

        <div class="irabu">
            <figure>
                <%= image_tag 'inukiti3.jpg', :width => '300', :height =>'300'%>
                <figcaption>なつみ</figcaption>
            </figure>
                <p>
                沖縄県宮古島市出身、うさぎ年の生まれです。社会福祉試験合格を目標にしています。<br>
                昆虫、紫外線、スクガラスが苦手で食べること、ラジオ(radikoで全国の番組を聴く)、<br>
                スポーツ、ビリヤード、テレビ、マンガ、おうちでゴロゴロすることが好きです。<br>
                一言:がんばります!!
                </p>
            
        </div>
    </div>

    <footer>
        <small>&copy: 2021 合同会社伝達サポート</small>
    </footer>
    
            
        