    
        <div class="text-center">
            <h1 class="title">〜合同会社Forte ケアサポート〜<br>
            ケアプラン1stステップ<br>
            (居宅介護支援事業所)</h1>
        </div>
    
        
    <div id="main_visual">
        <%= image_tag 'main.jpg', :width => '1100', :height => '600' %>
    </div>

    <div id="main">
        <div id="address">
            介護相談どうぞ〜<br>
            
            電話 098-996-1973<br>
            所在地 〒901-0205<br>
            沖縄県豊見市字根差部559-1 2-B<br>
            <a href="https://www.facebook.com/合同会社Forteケアサポート-ケアプラン1sステップ-101429688946897/">facebookページ</a>
            
        </div>
        <section>
            <h2>みなさまへ</h2>
        </section>

        <div class="greeting">
        <p> 
            ケアマネジャー(ケアマネ)を大事に。<br>
            ケアマネージャー(ケアマネ)とはご利用者様の心身の充実、そのご家族や支援者の介護負担の軽減を考えケアマネジメントを行います。私達は介護保険制度のみならず、医療・福祉制度の理解、役所や包括支援センター、病院、警察など様々な機関との連携をスムーズに行うため各種担当者様と勉強や情報の交換を常時行っております。
            またケアプラン1stステップでは、介護支援専門員協会への加入や事業所での丁寧な教育、情報共有や相談、スーパービジョンの活用、各種研修への参加、他事業所のスタッフとの交流を積極的に行い、知識・精神的にスタッフをフォローし、１人で抱え込まない事業所を目指します。

            私達ケアプラン1stステップは目標への第一歩を踏み出しました。
            ご利用様、関係者の方々の心により添い「この人が担当で良かった、顔をみたら安心する、相談はないけどお喋りしたい！」と思っていただける事業所を目指し日々精進していきます。

            <br><br>
        </p>
        <div>
    </div>

    <div class="introduction">
        <h2>〜スタッフ紹介〜</h2>
    </div>
        <br>

    <div class="staff">
        <div class="yonezu">
            <figure>
                <%= image_tag 'yonezu.jpg', :width => '300', :height => '300' %>
                <figcaption>米須ともみ</figcaption>
            </figure>
            <div class="yonezu_introduction">
                <p>
                沖縄県那覇市生まれ豊見城市育ちのO型。<br>
                YouTube鑑賞とブルーシールアイスが好きです。<br>
                コロナが落ち着いたら旅行にいきたいな〜。
            </p>
            </div>
        </div>

        <div class="higa">
            <figure>
                <%= image_tag 'higa.jpg', :width => '300', :height => '300' %>
                <figcaption>比嘉保志</figcaption>
            </figure>
        
            <p>
            1978年沖縄県豊見城市生まれです。<br>
            インディアカやフットサル、筋トレ、漫画喫茶でひたすらマンガを読んだりすることが好きです。<br>
            座右の銘: 初心忘るべからず。
            </p>
        </div>

        <div class="irabu">
            <figure>
                <%= image_tag 'irabu.jpg', :width => '300', :height =>'300'%>
                <figcaption>伊良部夏美</figcaption>
            </figure>
                <p>
                沖縄県宮古島市出身、うさぎ年の生まれです。社会福祉試験合格を目標にしています。<br>
                昆虫、紫外線、スクガラスが苦手で食べること、ラジオ(radikoで全国の番組を聴く)、<br>
                スポーツ、ビリヤード、テレビ、マンガ、おうちでゴロゴロすることが好きです。<br>
                一言:がんばります!!
                </p>
            
        </div>
    </div>

    <footer>
        <small>&copy: 2021 合同会社Forteケアサポート</small>
    </footer>
    
            
        